<h1>New Product</h1>

<form action="/products" method="post">
  <div> Title: <input type="text" name="title">
  </div>
  <div> Artist: <input type="text" name="artist">
  </div>
  <div> Price: <input type="text" name="price">
  </div>
  <div> Description: <input type="text" name="description">
  </div>
  <div> Stock: <input type="text" name="stock">
  </div>
  <div> <input type="submit" value="Create product">
  </div>
</form>